@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-palette-light w-full;
    }  
}

#carousel::-webkit-scrollbar {
    display: none;
}

.react-slideshow-wrapper.slide {
  height: 100vh;
}

.images-wrap {
  height: 100vh;
  color: #1a0d05;
}

.each-fade {
  height: 100vh;
}

.default-nav {
  display: none !important;
}